keybinds {
    shared_except "move" "locked" {
        unbind "Ctrl h"
        bind "Ctrl b" { SwitchToMode "Move"; }
        unbind "Ctrl o"
        bind "Ctrl y" { SwitchToMode "Session"; }
    }
    normal {
        bind "Ctrl h" { GoToPreviousTab; }
        bind "Ctrl l" { GoToNextTab; }
    }
    tab {
        bind "Shift h" { MoveTab "Left"; }
        bind "Shift Left" { MoveTab "Left"; }
        bind "Shift l" { MoveTab "Right"; }
        bind "Shift Right" { MoveTab "Right"; }
    }
}
